<div class='new-suggestion'>
  <div class='new-icon'>
    <div class='f-line line'></div>
    <div class='s-line line'></div>
  </div>
  <div class='text'>
    Submit a new Suggestion at <span class='coordinates'></span>
  </div>
</div>
