<div class='suggestion-form' style='display:none'>
  <div class='form-box'>
    <div class='top'>
      <h4 class='title'>New Suggestion</h4>
    </div>
    <div class='divider'></div>
    <form>
      <label for='post-title' class='input-title'>Title</label>
      <input id='post-title' class='form-input' type='text' placeholder='Suggestion Title'>
      <label for='post-text' class='input-title'>Text</label>
      <input id='post-text' class='form-input' type='text' placeholder='New Suggestion'>
      <button class='submit-button form-button' type='submit'>Submit</button>
      <button class='cancel-button form-button' type='submit'>Cancel</button>
    </form>
  </div>

</div>
<script src='/js/partials/newsuggestionform.js'></script>
