<div class='suggestion-form' style='display:none'>
  <div class='form-box'>
    <div class='top'>
      <h4 class='title'>New Suggestion</h4>
    </div>
    <div class='divider'></div>
    <form>
      <label for='post-title' class='input-title'>Title</label>
      <input id='post-title' class='form-input' type='text' placeholder='Suggestion Title'>
      <label for='post-text' class='input-title'>Text</label>
      <input id='post-text' class='form-input' type='text' placeholder='New Suggestion'>
      <label for='color-chooser' class='input-title'>Color</label>
      <input id='color-chooser' class="jscolor color-chooser" name='hexcolor' value="0099FF">
      <button class='submit-button form-button'>Submit</button>
      <button class='cancel-button form-button'>Cancel</button>
    </form>
  </div>

</div>
<script src='/js/partials/newsuggestionform.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/partials/jscolor.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
