<div class='new-suggestion'>
  <div class='new-icon'>
    <div class='f-line line'></div>
    <div class='s-line line'></div>
  </div>
  <p class='text'>
    Submit a new Suggestion at <span class='coordinates'></span>
  </p>
</div>
<script src='/js/partials/newsuggestion.js'></script>
