<div class='sidebar-wrapper'>
  <div class='empty-scroll'></div>
  <div class='sidebar noscroll'>
    <div class='main'>
      <div class='content'>
        <div id='geocoder' class='geocoder'></div>
        <div class='suggestions'>
          <%- include ./newsuggestion %>
        </div>
      </div>
      <%- include ./footer %>
    </div>
  </div>
</div>

<script src='/js/partials/sidebar.js'></script>
