<div class='empty-scroll'></div>
<div class='sidebar'>
  <div class='menu-button'>
    <div class='chevron-down'></div>
  </div>
  <div class='main'>
    <div class='content'>
      <div id='geocoder' class='geocoder'></div>
    </div>
    <%- include ./footer %>
  </div>
</div>

<script src='/js/partials/sidebar.js'></script>
