<div class='suggestion'>
  <h4 class='title'></h4>
  <p class='location'></p>
  <p class='text'></p>
</div>
<!-- might delete since this is added after figuring out the map bounds. TODO: might delete -->
