#map
  width: 100%
  height: 70%
  min-height: 70vh
  position: fixed
  top: 0
  .mapboxgl-ctrl-top-right
    right: auto !important
    left: calc(50% - 145px)
    width: 290px
    display: flex
    justify-content: center
    align-items: center
    .mapboxgl-ctrl.mapboxgl-ctrl-group
      margin-right: 0
      height: 30px
  +large-devices
    min-height: 100vh
    width: 75%
    margin-left: 25%
    .mapboxgl-ctrl-top-right
      display: none

.mapboxgl-ctrl-top-right input, .geocoder input
  font-size: 16px !important
